<style type="text/css">
	div.mul-page{display:inline-block;height:24px;background:#fff;padding:0 0 0 10px;cursor:pointer;border-right:1px solid #e0e0e0}
	div.mul-page div{display:inline-block;height:26px;line-height:26px}
	div.mul-page-div1{color:#7c7c7c;font-size:12px}
	div.mul-page-div2{width:24px;text-align:center;font-size:14px;}
	div.mul-dlt{height:26px !important;width:16px;line-height:26px;vertical-align:middle;color:#a3a3a3}
	div.mul-dlt:hover{color:#E85244;}
	.show-iframe{border-bottom:1px solid #2aa515;height:27px !important}
	.show-iframe div.mul-page-div1{color:#2a2a2a}
	#page-inner{
		
		padding-top:16px
	}
</style>