<!DOCTYPE html>{__NOLAYOUT__}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A</title>
	<link href="__PUBLIC__/css/custom-styles.css" rel="stylesheet" />
	<script src="__PUBLIC__/js/jquery-3.4.1.js"></script>
	<script src="__PUBLIC__/js/layer/src/layer.js"></script>
	<script src="__PUBLIC__/js/tool.js"></script>
	<script src="__PUBLIC__/js/flow.js"></script>
	<style type="text/css">

		body{
			background:url('__PUBLIC__/image/flow/bg.png') 13px 12px
		}



	</style>
</head>

<body class = 'bg-success' >
<div id="diagramContainer" ></div>
</body>
<script>

flow.ini({
	container : $('#diagramContainer'),
	label : {$label|raw},
	post : {$post|raw},
	department: {$department|raw},
	executor : {$executor|raw},
	p : {$p|raw},
	node : {$node|raw},
});


</script>

</html>