<!DOCTYPE html>{__NOLAYOUT__}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A</title>
	
	<link href="__PUBLIC__/css/iconfont/material-icons.css" rel="stylesheet">
	<link rel="stylesheet" href="__PUBLIC__/materialize/css/materialize.min.css" media="screen,projection" />
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/font-awesome.css" rel="stylesheet" />
	<link rel="stylesheet" href="__PUBLIC__/js/DataTables-1.10.0/media/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="__PUBLIC__/js/DataTables-1.10.0/FixedColumns-3.2.4/css/fixedColumns.bootstrap.css">
	<link href="__PUBLIC__/css/custom-styles.css" rel="stylesheet" />
    
	<script src="__PUBLIC__/js/jquery-3.4.1.js"></script>
	<script src="__PUBLIC__/js/layer/src/layer.js"></script>
	<script src="__PUBLIC__/js/laydate/laydate.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/DataTables-1.10.0/media/js/jquery.dataTables.min.js"></script>
	<script src="__PUBLIC__/js/tool.js"></script>

	<style type="text/css">
		body{
			padding:0;
			background:#ffffff	
		}
		div.resource-tip{
			font-size:12px;
			text-align:center;
			padding-top:32px
		}
		table.table-resource thead th{
			padding-top:5px;
			padding-bottom:5px;
		}
		table.dataTable thead tr th{
			background: #14253b99 !important;
			COLOR:#ffffff !important;
		}
		table#resource_body_table tbody tr td{
			border-color:#ababab;
			
		}
		div.row{margin-left:0;margin-right:0}
	</style>
</head>
<body>

							<div class = "row" style='margin:0;'>

								<div class = 'col s1'>
									<div class = 'resource-tip'>
										采购订单<br /><br />表头
									</div>
								</div>
								
								<div class = "col s11">
									<table class = 'dataTable table-small centered cell-border noselect table-resource' id = 'resource_head_table'>
										<thead id = 'resource_head_thead'>
										<tr>
											<th style = 'width:30px'></th>
											<th style = 'white-space:nowrap;'>单据号</th>
											<th style = 'white-space:nowrap'>日期</th>
											<th style = 'white-space:nowrap'>供应商编码</th>
											<th style = 'white-space:nowrap'>供应商名称</th>
									
											<th style = 'white-space:nowrap'>制单人</th>
										</tr>
										</thead>
										<tbody id = 'resource_head_tbody'>
											
										</tbody>
									</table>

									{include file='public/page/page' /}

								</div>
							</div> 


							<div class = "row" style='margin:0;'>


								<div class = 'col s1'>
									<div class = 'resource-tip'>
										表单明细
									</div>
								</div>
								
								<div class = "col s11">
								
									<table class = 'dataTable table-small centered cell-border noselect table-resource' id = 'resource_body_table'>
										<thead id = 'resource_body_thead'>
										
										<tr>
											<th style='white-space:nowrap;width:30px'><input type = 'checkbox' class = 'aya-checkbox' id = 'select_all' /></th>
											
											<th style = 'white-space:nowrap'>单据号</th>
											<th style = 'white-space:nowrap'>物料编码</th>
											<th style = 'white-space:nowrap'>物料名称</th>
											<th style='white-space:nowrap'>规格型号</th>
											<th style='white-space:nowrap;width:30px'>单位</th>
											<th style='white-space:nowrap;width:40px;'>总数量</th>
											<th style='white-space:nowrap;width:40px'>未到货</th>
											<th style = 'white-space:nowrap'>交货期</th>

										</tr>
										</thead>
										<tbody id = 'resource_body_tbody'>
											
										</tbody>

									</table>
									
								</div>
							</div>
							
</body>
<script>

	var type = 'potopoarrive';

	var resource_option;       // 父页面带来的option

	var resource_super_option = {}; //高级搜索的option

	var current_option = {}; //搜索后的当前option

	var searchUrl = '__APP__/purchase/resourcePoToPoArriveSearch';

	var detailUrl = '__APP__/purchase/resourcePoToPoArriveDetail';

	// 两种搜索OPTION，一种是点开源单以后第一次搜索进行的，用resource_option
	// 还有一种是点“查询”后，再点确认后用的
	// 两种option都保存在parent页面
	// resource_option 的获得，根据parent页面的一些信息（表头和表体的resouse_id)
	// resource_super_option 的获得，第一次如果存在default 则用default，点super搜索以后，用当时搜索的条件
	

	current_option = resource_option = get_parent().resource_option.get(type);


	var h1 = $(window).height() - $('.page-container').length * $('.page-container').eq(0).height() - 42 - $('#resource_head_thead').height() - $('#resource_body_thead').height();


	
	var setting = {paging: false,scrollY: h1 * 0.45,info:false,dom:'t',};

	var setting2 = {paging: false,scrollY: h1 * 0.55,info:false,dom:'t',};	
	
	let resource_head = $('#resource_head_table').DataTable(setting);

	page(searchUrl,resource_head,current_option);

	page_callback(searchUrl,resource_head,resource_option);

	select_tr3('resource_head_table','new2');

	let resource_head2 = $('#resource_body_table').DataTable(setting2);



	// ---------------------------------------------------------------//












	select_tr3('resource_body_table','new2',function(){
		let rows = $('#resource_body_tbody tr').length;
		let rows_selected = $('#resource_body_tbody tr.new2').length;
		if(rows == 0) rows = '-';
		if(rows_selected == 0) rows_selected = '-';
		$('#rows').text(rows);
		$('#rows_selected').text(rows_selected);
	});

	$('#resource_head_table tbody').on('click','tr',function(){
		let flag = false;
		let vendor = '';
		$('#resource_head_table tbody tr.new2').each(function(i,v){
			if(i == 0){
				vendor = $(this).children().eq(3).text();
			}else{
				if($(this).children().eq(3).text() != vendor ){
					layer.msg("不同<span class = 'hint2'>供应商</span>的订单不能合并",{'icon':2,time:2000,offset:'30%'});
					flag = true;
					return false;
				}		
			}
		});
		if(flag){
			$(this).removeClass('new2');
			$(this).children().eq(0).find('input').eq(0).prop('checked',false);
		}else{
			let o = {};
			o.id = $(this).data('id');
			o.resource = JSON.stringify(current_option.resource);
			
			if($(this).hasClass('new2')){
				$.post(detailUrl,o,function(d){
					if(d.status == 's'){

						resource_head2.rows.add($(d.data)).draw();


						






						//fresh_selected_rows();
					}else{
						layer.msg(d.info,{'icon':2,time:2000,offset:'30%'});
					}
				});
			}else{
				resource_head2.rows('.id'+o.id).remove().draw();
				fresh_selected_rows();
			}
		}
	});

	
	$('#select_all').click(function(){
		let flag = $('#resource_body_tbody tr').eq(0).children().eq(0).find('input').prop('checked');
		if(flag == true){
			$('#resource_body_tbody tr').removeClass('new2');
			$('#resource_body_tbody').find('input[type = checkbox]').prop('checked',false);
			$(this).prop('checked',false);
		}else{
			$('#resource_body_tbody tr').addClass('new2');
			$('#resource_body_tbody').find('input[type = checkbox]').prop('checked',true);
			$(this).prop('checked',true);
		}
	});
	

	function fresh_selected_rows(){
		let rows =  resource_head2.column( 0 ).data().length;
		let rows_selected = $('#resource_body_tbody tr.new2').length;
		if(rows == 0) rows = '-';
		if(rows_selected == 0) rows_selected = '-';
		$('#rows').text(rows);
		$('#rows_selected').text(rows_selected);
	}

	//page(resource_query);

	
	
	function resource_research(o){
		let n = parseInt($('#number_page').val());
		if(isNaN(n) || n <= 0 ) n = $('#number_page').data('d');
		o.n = n;
		o.page = 1;
		resource_query(o);
	}

	function resource_query(o){	
		let index = top.layer.load(2,{offset:'30%'});	
		$.post(searchUrl,o,function(d){

			if(d.status == 's'){
				let head = d.data.tbody;
				let page = d.data.page;
				resource_head.clear();
				resource_head.rows.add($(head)).draw();
				set_page(page);
			}else{
				layer.msg(d.info,{'icon':2,time:2000,offset:'30%'});
			}
			top.layer.close(index);
		});
	}

	

	
	function loaded(confirm,clear,search,imgs){

		confirm.click(function(){
			let o = {};
			o.data = [];
			$('#resource_body_tbody tr.new2').each(function(){
				let tmp = {};
				let child = $(this).children();
			
				tmp.inventory_code = child.eq(2).text();
				tmp.inventory_name = child.eq(3).text();
				tmp.inventory_std  = child.eq(4).text();
				tmp.inventory_unit = child.eq(5).text();
				tmp.po_qty = child.eq(6).text();
				tmp.qty = child.eq(7).text();
				tmp.arrive_date = child.eq(8).text();
				tmp.resource_type = type;
				tmp.resource_listid = $(this).data('listid');
				tmp.po_ddh = child.eq(1).text();
				o.data.push(tmp);
			});
			
			get_parent().form.resource_fill(o);

			var index = top.layer.getFrameIndex(window.name);
			top.layer.close(index);   
		});


	}
	

	
	
	top.$('#resource_confirm').click(function(){
		let o = {};
		o.vendor_name = $('#resource_head_table tbody tr.new2').eq(0).children().eq(4).text();
		o.vendor_code = $('#resource_head_table tbody tr.new2').eq(0).children().eq(3).text();
		o.purchasetype_name = $('#resource_head_table tbody tr.new2').eq(0).children().eq(5).text();
		o.purchasetype_code = $('#resource_head_table tbody tr.new2').eq(0).data('purchasetype_code');
		o.data = [];
		
		
		get_parent().form.resource_fill(o);
		get_parent().update_totle();
		
	});

	

	


	

	
	$('#table_body_research').keypress(function(e){
		let v = $.trim($(this).val());
		if(e.keyCode==13){
			resource_head2.search(v).draw();
		}
	});

</script>
</html>
