<div class = 'page-container' style = 'height:24px;margin:0px;font-size:12px;line-height:24px;vertical-align:middle'>
    <div class = 'row' style = 'line-height:24px'>
        <div class = 'col s4 center'>共 <span id = 'rows'> - </span> 条记录 ，已选择 <span id = 'rows_selected' class = 'text-color3'> - </span> 条记录</div>
        <div class = 'col s4 center'></div>
 
        <div class = 'col s4 center' style = ''><span  style = "position:relative"><input id = "table_body_research" type = "text" class = " aya-input" style = " text-indent:10px;padding-right:20px;width:200px;margin-top:5px" placeholder = "表单内搜素" /><img src = "/a1/index/view/public/Image/o25.png"  class = "height18" style = "position:absolute;right:0;top:0px" /></span></div>
 
    </div>
</div>